page-home {

}

.toolbar-background {
	background: #488AFF;
}

.toolbar-title-md {
	color: #FFF;
}

.my-list > ion-item {
	padding-left: 0 !important;
}

.my-btn {
	margin-top: 25px !important;
}

textarea {
	resize: none;
}